body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assests/bullseye-gradient.svg");
  background-size: cover;
}

h1 {
  font-size: 40px;
  padding-top: 20px;
}
p {
  font-size: 25px;
}
