[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
gunicorn = "*"
psycopg2 = "*"
dj-database-url = "*"
django-heroku = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
